transformers
sentencepiece 
sentence-transformers
huggingface_hub[cli]
jinja2 
peft
pillow
bitsandbytes 
accelerate
torch
torchvision
numpy
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-chroma
google-generativeai
chromadb
pypdf
gradio
cryptography>=3.1



